/*
    Cal Hacks 2015

    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
*/

body {
    font-size: 12px;
}

input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #21C064;
    border: 3px solid #21C064;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 10px;
    color: #1c1c1c;
    font-size: 2em;
    font-family: 'Maven Pro', sans-serif;

}