<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>TITLE GOES HERE</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/business-casual.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Maven+Pro:400,500|Roboto+Condensed:400,700,300italic,300' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>

    <!-- Optional: Reflection -->
    <script type="text/javascript" src="../js/reflection.js"></script>

    <!-- interpolate, depends on jQ 1.8.0+ -->
    <script src="../js/jquery.interpolate.js"></script>

    <!-- Coverflow -->
    <script src="../js/jquery.coverflow.js"></script>

    <script src="../js/main.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="../source/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="../source/jquery.fancybox.pack.js"></script>


</head>

<body>
    <div class="container">
        <div "brand-container">
            <div class="logo"><img src="../assets/logo.png"></div>
            <div class="brand">megapix</div>
        
            <div class="search-container pull-right">
                <div class="col-md-12">
                    <div class="input-group" id="adv-search">
                        <input type="text" class="form-control" placeholder="search for movies" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <form action="/search" method="post" class="form-horizontal" role="form">
                                          <!-- <div class="form-group">
                                            <label for="filter">genre</label>
                                            <select class="form-control">
                                                <option value="0" selected>all movies</option>
                                                <option value="1">action</option>
                                                <option value="2">drama</option>
                                                <option value="3">comedy</option>
                                                <option value="4">horror</option>
                                            </select>
                                          </div> -->
                                          <div class="form-group">
                                            <label for="contain">year</label>
                                            <input class="form-control" type="text" name="year"/>
                                          </div>
                                          <div class="form-group">
                                            <label for="contain">rating (0-100)</label>
                                            <input class="form-control" type="text" name="rating"/>
                                          </div>
                                          <div class="center2right">
                                            <button id="search" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button id="search" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                
                <div class="coverflow">
                    {% for movie in result_list %}
                    <a class="fancybox" href="#{{movie.title}}">
                        <div class="cover">
                            <img class="photos" src="{{movie.poster_url}}"/>
                        </div>
                    </a>
                    {% endfor %}

                    <!--<a class="fancybox" href="#content2">
                        <div class="cover">
                            <img class="photos" src="../assets/poster2.jpg"/>
                        </div>
                    </a>-->
                    <!--{% for movie in result_list %}
                        <div class="cover"><img class="photos" src="{{movie.poster_url}}"/></div>
                    {% endfor %}-->
                </div>

                <div class="reflect"></div>

                <!-- FANCY BOX CONTENT -->
                {% for movie in result_list %}
                <div id="{{movie.title}}" style="display: none; width: auto; height: auto;">
                    <!-- THIS IS THE PART THAT YOU SHOULD TEMPLATE -->
                    <div class="col-xs-12">
                        <hr />
                        <div class="col-xs-12 col-md-3">
                            <!-- movie poster image -->
                            <img class="img-responsive" src="{{movie.poster_url}}">
                        </div>
                        <div class="col-xs-12 col-md-8 col-md-offset-1">
                            <!-- movie info -->
                            <div class="col-xs-12 col-md-10 center2left">
                                <h1>{{movie.title}}</h1>
                            </div>
                            <div class="col-xs-12 col-md-2 shortInfo center2right">
                                <p>{{movie.year}} | {{movie.runtime}}</p>
                            </div>
                            <div class="col-xs-12">
                                <p>
                                    {{movie.plot}}
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                    <p class="sub-head">genre</p>
                                    <p class="sub-info">{{movie.genre}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                    <p class="sub-head">director</p>
                                    <p class="sub-info">{{movie.director}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                    <p class="sub-head">actors</p>
                                    <p class="sub-info">{{movie.actors}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                    <p class="sub-head">awards</p>
                                    <p class="sub-info">{{movie.awards}}</p>
                            </div>
                            <div class="col-xs-12 text-center">
                                <div style="display: inline-block;">
                                    <img style="width: auto; height: 30px; display: inline-block; vertical-align: middle;" src="../assets/rottenTomatoes.png"/>
                                    <p style="display: inline-block; vertical-align: middle;" class="sub-head">rotten tomatoes: <strong>{{movie.rt_rating}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!-- END OF TEMPLATE PART -->
                    </div>
                </div>
                {% endfor %}
                 <!-- END OF FANCY BOX CONTENT -->

            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Made @ Cal Hacks 2015</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
